if SHIELD_CALDERA_LEFT

config ZMK_KEYBOARD_NAME
    default "Scribe"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SCRIBE_LEFT || SHIELD_SCRIBE_RIGHT

config ZMK_SPLIT
    default y

endif
